/* laptop view */
@media only screen and (min-width: 768px) {
    body{
        font-family: system-ui;
        color: #444;
        font-size: 13px;
        margin: 0;
    }

    /* start of navbar */
    .navbar_wrapper{
        width: 80%;
        margin: 0 auto;
        /* border: 0.5px solid red; */

        .row_1{
            display: flex;
            justify-content: space-between;
        }

        .row_1 img:nth-child(2){
            width: 60px;
            height: 60px;
        }

        .row_2{
            background-color: #db0100;
            display: flex;
        }

        .row_2 a {
            text-decoration: none;
            color:white;
            padding: 16px 20px;
        }

        .row_2 a:hover{
            background-color:black;

        }

        .row_3{
            padding: 1rem;
            display: flex;
            gap: 1rem;
            background-color: #f2f2f2;
        }

        .row_3 span:nth-child(1) {
            color: #db0100;
        }

        .row_3 a {
            text-decoration: none;
            color: #444;
        }

        .row_3 a:hover {
            text-decoration: underline;
        }

        .row_3 span:nth-child(2) {
            color: grey;
        }



    }
    /* end of navbar */

    /* start of main */
    .main_wrapper{
        display: flex;
        width: 80%;
        margin: 1rem auto;
        /* border: 1px solid red; */
        gap: 2rem;
    }
    /* end of main */

    /* start of wide */
    .wide_wrapper{
        min-width: 400px;
        border-right: 1px solid grey;
        padding-right: 2rem;
        flex-grow: 1;
        .photo {
            width:100%;

        }

        .wide_section_title{
            background-color: #515356;
            color: white;
            padding: 1rem;
        }

        .wide_section_body{
            display: grid;
            row-gap: 1rem;

            .body_item{
                display: flex;
                column-gap: 1rem;
                align-items: center;
                padding: 1rem;
                border-bottom: .5px solid lightgrey;
            }

            .icon-box{
                background-color: #db0100;
                color: white;
                padding: 1%;
            }

            .description-box{
                display: grid;
                row-gap: 0.5rem;
            }

            .description-box a{
                text-decoration: none;
                color: #444;
            }

            .description-box a:hover {
                text-decoration: underline;
                
            }

        }
    }
    /* end of wide */

    /* start of narrow */
    .narrow_wrapper{
        min-width: 200px;
        display: grid;
        row-gap: 2rem;
        display: flex;
        flex-direction: column;
        /* border: 1px solid blue; */

        .sign_in_wrapper{
            display: grid;
            row-gap: 0.5rem;

            .form_title{
                background-color: #444;
                color:white;
                padding: 1rem;
            }
        }

        .username_box {
            display: flex;
            border:.5px solid grey;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            overflow: hidden;
        }

        .username_box span{
            background: #eeeeee;
            padding: 0.5rem;
            min-width: 10%;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .username_box input{
            border: none;
            outline: none;
            padding: 0.5rem 0.8rem;
            
        }

        .pin_box{
            display: flex;
            border: 0.5px solid lightgrey;
            overflow: hidden;
            border-radius: 5px;
            align-items: center;
        }

        .pin_box span {
            background: #eeeeee;
            padding: 0.5rem;
            min-width: 10%;
            display: flex;
            justify-items: center;
            align-items: center;
        }

        .pin_box input {
            border: none;
            outline: none;
            padding: 0.5rem 0.8rem;
            flex-grow: 1;
        }

        .lock{
            display: flex;
            border:.5px solid grey;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            overflow: hidden;
            
        }

        .lock span{
            background: #eeeeee;
            padding: 0.5rem;
            
        }

        .lock input{
            border: none;
            outline: none;
            padding: 0.5rem 0.8rem;
        }

        .action_row{
            display: flex;
            justify-content: space-between;
        }

        .action_row a{
            line-height: 28px;
            color: #515356;
            font-weight: 700;
            text-decoration: none;
            align-items: center;
        }

        .action_row a:hover{
            text-decoration: underline;
        }

        .action_row button{
            color: rgb(255, 255, 255);
            background-color: rgb(81, 83, 86);
            float: right;
            text-transform: uppercase;
            box-sizing: content-box;
            width: 30%;
            padding: 12px 24px;
            display: inline-block;
            font: inherit;
            border-radius: 0;
            max-width: 100%;
            border: 1px solid #d9d9d9;
            outline: 0;
            cursor: pointer;

            
        }

        .wrapper_title{
            font-family: "Open Sans", Arial, sans-serif;
            font-size: 13px;
            text-transform: uppercase;
            background: #515356;
            color: #efefef;
            padding: 1rem;
        }

        .wrapper_body a{
            text-transform: capitalize;
            font-size: 14px;
            color: #19232d;
            text-decoration: none;
            line-height: 1.42857143;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            display: grid;
            row-gap: 1rem;
            background: #f9f9f9;
            border-bottom: 1px ridge lightgrey;

        }

        .wrapper_body a:hover {
            text-decoration: underline;
        }

    


    }
    /* end of narrow */
}
    
